.nav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #7395AE;
    height: auto;
}

.nav ul {
    list-style-type: none;
    padding: 2px;
    overflow: hidden;
    background-color: #7395AE;
}
  
.nav li {
    float: left;
    font-size: large;
}
  
.nav li a {
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
