.nav {
    grid-area: nav;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #7395ae;
    height: auto;
}

.nav ul {
    list-style-type: none;
    padding: 2px;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
