.splash {
    grid-area: splash;
    background-color: #557a95;
    padding: 14px 16px;
    color: #ffffff;
    padding: 0%;
}

.splash img {
    display: block;
    margin: auto;
    opacity: 50%;
    width: 450px;
}

.splash figcaption {
    text-align: center;
}
