@import "nav.css";
@import "footer.css";
@import "content.css";
@import "splash.css";
@import "mobile.css";

html body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto) 1fr auto;
    grid-template-areas:
        "nav"
        "splash"
        "content"
        "ft";
    margin: 0;
}

/* @media(min-width:1000px) {
    .container {
        display: grid;
        width: 100%;
        height: 100%;
        min-height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto) 1fr auto;
        grid-template-areas:
            "nav"
            "splash"
            "content"
            "ft";
        margin: 0;
    }

    html body {
        font-size: 1rem;
    }
} */

.post-master {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 5px 5px 2px 1px rgb(240, 240, 240);
}

.post-name {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-info {
    border: 1px solid rgb(220, 220, 220);
    margin: 1rem;
    padding: 1rem;
}

.post-info p {
    font-size: 14px;
}

.post-info ul {
    padding: 0px;
}

.post-info li {
    list-style: none;
    text-align: left;
    font-size: 14px;
}

.post-info li span {
    font-weight: bold;
}

.post-description {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

h1 {
    font-weight: bold;
    font-size: 1.5rem
}